:root {
	--bleu-anct:rgb(41, 49, 115);
	--bleu-second:#5770be;
	--jaune-anct:#ffe800;
	--vert-anct:#00ac8c;
	--font-size-global:1.1em;
	--thumbNumber:"10";
}


body {
	padding: 0;
	margin:0;
}


html, body, #mapid {
	height: 100%;
	width: 100%;
	position: absolute;
	font-family: 'Marianne-regular', Arial, Helvetica, sans-serif !important;
}

body i {
	vertical-align:text-bottom;
	font-size: 1.5em;
}

ul {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}


/* -------------------------------------------------------------------------- */
/* 								SCREEN LOADING					   	 		  */													
/* -------------------------------------------------------------------------- */


#loading {
	background-color: rgba(0,0,0,.75);
	color:white;
	padding:100px;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10000 !important;
}

#error-screen {
	background-color: white !important;
	padding:100px;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10000 !important;
}


/* -------------------------------------------------------------------------- */
/* 								LEAFLET SIDEBAR					   	 		  */													
/* -------------------------------------------------------------------------- */



/* longueur */
@media (min-width: 1200px) {
	.leaflet-sidebar, .leaflet-sidebar-header {
		width: 550px;
		max-width: 550px;
	}
}


#sidebar {
	position: absolute;
}


.leaflet-sidebar-header {
	background-color:var(--bleu-anct);
	font-family: 'Marianne-Bold';
	text-transform: uppercase;
	margin-bottom: 10px;
	display: block;
}

.leaflet-sidebar-content {
	background-color: rgba(255,255,255,.85);
	backdrop-filter:blur(6px);
}


.leaflet-sidebar-tabs > ul > li.active,
.leaflet-sidebar-tabs > ul > li.active:hover {
	 background-color: var(--bleu-anct);
 }

.leaflet-sidebar-tabs > ul > li:hover {
	background-color: rgba(0,0,0,.25);
	transition: .2s;
}

.leaflet-sidebar-tabs {
	 background-color: #F4F4F4;
	 box-shadow: 2px 0px 2px 0px #656565;
	 
}

/* nom onglet au survol d'un bouton */
.tab-name {
	position: absolute;
	display: none;
	z-index: 10000;
	left: 50px;
	background: rgba(0,0,0,.8) !important;
	font-family: 'Marianne-Bold';
	font-size: .9rem;
	text-transform: uppercase;
	text-align: center;
	color:white !important;
	width: 100px;
	border-radius: 3px;
}

.leaflet-sidebar-tabs ul li a:hover .tab-name{
	display: inline-block;
 }
 
 .leaflet-sidebar-tabs ul li .tab-name:before{
   content: "";
   position: absolute;
   top: 50%;
   right: 100%; /* To the left of the tooltip */
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent rgba(0,0,0,.8) transparent transparent;
}


#search-tab {
	padding-right: 30px;
}

#programme-logo {
	display: inline-flexbox;
	width: 38%;
	padding-bottom: 5%; 
	padding-top: 5%; 
	float:'center';
}


/* -------------------------------------------------------------------------- */
/* 								LEAFLET LEGEND						 		  */
/* -------------------------------------------------------------------------- */

/* container */
.leaflet-legend {
	font-family: 'Abel-Regular';
	font-size: 1.1em;
	background-color: rgba(255,255,255,.95);
	padding: 5px;
	border: solid 2px #c9c7c3;
	border-radius: 3px;
	/* box-shadow: 0 1px 5px rgba(0,0,0,.5), 0 2px 4px rgba(0,0,0,.1); */
	z-index: 500 !important;
	margin-top: -100%;
	height: auto;
	max-height: 120px;
	overflow: hidden;
}

.leaflet-legend i {
	font-size: 1.55em;
	cursor: pointer;
}

/* postes */
.leaflet-legend-marker-siege {
	border: 2px solid white;
	border-radius: 50%;
	margin-left:1px;
	margin-right:4px;
	display: inline-block;
	vertical-align: middle;
	height: 13px;
	width: 13px;
	background-color: var(--bleu-anct);
}

.leaflet-legend-marker-antenne {
	border: 2px solid white;
	border-radius: 50%;
	margin-left:1px;
	margin-right:4px;
	display: inline-block;
	vertical-align: middle;
	height: 13px;
	width: 13px;
	background-color: var(--bleu-second);
}

.leaflet-legend-marker-bus {
	border: 2px solid white;
	border-radius: 50%;
	margin-left:1px;
	margin-right:4px;
	display: inline-block;
	vertical-align: middle;
	height: 13px;
	width: 13px;
	background-color: var(--vert-anct);
}

.leaflet-legend-perimeter {
	vertical-align: middle;
	height: 15px;
	width: 15px;
	background-color: none;
	border: 2px solid red;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}



/* -------------------------------------------------------------------------- */
/* 									LEAFLET MAP						 		  */
/* -------------------------------------------------------------------------- */

.leaflet-top, .leaflet-bottom {
	z-index: 500 !important;
}

/* delete arrow */
.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before {
	border: none !important;
}

.leaflet-tooltip {
	padding:0;
	text-align: center;
	top: -40px;
	border:none !important;
	box-shadow: 0 1px 2px rgba(0,0,0,.2) !important;
	font-family: 'Abel-Regular';
	background-color: rgba(255,255,255,1) !important;
}


.leaflet-tooltip-header {
	display: block;
	color:white !important;
	padding: 7px;
	font-weight: bolder;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.leaflet-tooltip-header.siege {
	background-color: var(--bleu-anct) !important;
}

.leaflet-tooltip-header.antenne {
	background-color: var(--bleu-second) !important;
}

.leaflet-tooltip-header.bus {
	background-color: var(--vert-anct) !important;
}

.leaflet-tooltip-body {
	font-size: 1.3em;
	padding:20px;
	padding-bottom: 30px !important;
	color:rgb(60, 60,60)
}

.leaflet-tooltip-result {
	/* left: -35px; */
	top:-15px;
	padding:5px;
	color: var(--bleu-second) !important;
	border:1px solid var(--bleu-second) !important;
	font-size: 1.3em;
	font-weight: bolder;
	/* box-shadow: none !important; */
}

.fs-marker {
	filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .3) );
}

/* -------------------------------------------------------------------------- */
/* 									COUNTERS						 		  */
/* -------------------------------------------------------------------------- */

.counters {
	margin-right: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.counters:hover {
	box-shadow: none;
}

.counter {
	font-family: 'Marianne-Bold';
	font-size: 2.4em;
	margin-bottom: 0;
}

.Siège {
	color: var(--bleu-anct);
}

.Antenne {
	color: var(--bleu-second);
}

.Bus {
	color: var(--vert-anct);
}



/* -------------------------------------------------------------------------- */
/* 								HOME TAB BTNS						 		  */
/* -------------------------------------------------------------------------- */

.btn-home-tab {
	width: 100%;
	margin-bottom:10px;
}


/* -------------------------------------------------------------------------- */
/* 									SEARCH BAR						 		  */
/* -------------------------------------------------------------------------- */

#search-bar-container {
	position: relative;
	margin-bottom: 10px;
}


.input-group-prepend {
	position: relative;
}

#search-field {
	font-size: 1.1em;
	border-right: none;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#search-type-group {
	display: grid;
	align-items:center;
	margin-bottom: 10px;
}

#search-type-text, #search-type-radio  {
	vertical-align: center;
	font-size: 1.1em;
	height: 25px;
}


#search-type-text {
	font-family: "Marianne-Bold";
}

.search-type-btn {
	padding-top:3px;
	padding-bottom:4px;
	background-color: white;
	text-transform: uppercase;
	font-size: 0.9em !important;
	color: var(--bleu-second);
	border-color: var(--bleu-second);
	font-size: var(--font-size-global);
	transition: all 0.1s ease-in-out;
	border-radius: 20px;
}

.search-type-btn:hover, 
.search-type-btn:active, 
.search-type-btn.active, 
.search-type-btn:focus  {
	background-color: var(--bleu-second) !important;
	border-color: var(--bleu-second) !important;
	outline: none;
	box-shadow: none;
}

.search-type-btn.active {
	font-family: 'Marianne-Bold';
}


.list-group {
	width: 100%;
	position: absolute;
	z-index: 1;
}


.list-group-item {
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	background-color: white;
	cursor: pointer;
	transition: .05	s;
}

.list-group-item.is-active {
	background-color: var(--bleu-second);
	font-weight: bolder;
	color:white;
	display: block;
}

.search-result-label {
	font-family: 'Marianne-Bold';
}

.search-result-context {
	font-weight: lighter;
	font-size: .9em;
}

.search-result-type {
	float: right;
	font-size: .85em;
}


/* reinitialize button */
#btn-reinitialize {
	float: right;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#search-results-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}


#nb-results {
	font-size: 1.4em;
}


/* -------------------------------------------------------------------------- */
/* 								 	SLIDER						   	 		  */													
/* -------------------------------------------------------------------------- */



input[type="range"] {
	width: 98% !important;
    height: 7px;
	background-color:rgb(212, 208, 208);
	border:solid 1px grey;
    appearance: none;
    margin: 10px 1px;
	margin-bottom:0px;
	cursor: pointer;
	border-radius: 5px;
}

input[type="range"]:active {
	background-color: rgb(173, 173, 173);
}


input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; 
	width: 20px;
	height: 20px;
	background: var(--bleu-second) !important;
	border: solid 2px white;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;
	z-index: 100 !important;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none; 
	height: 15px !important;
	width: 15px !important;
	background: var(--bleu-second) !important;
	border: solid 2px white;
	margin: 100px;
	/* margin: 35px 0 35px 0; */
	margin:50px;
	content:var(--thumbNumber);
}

input[type="range"]::-moz-range-progress {
	background-color: red;
	height: 7px;
}


#input-thumb {
	user-select: none; 
	pointer-events: none;
	width: 60px;
	background: white !important;
	color: red;
	border:solid 1.5px red;
	display: inline-block;
	padding: 2px 3px;
	text-align: center;
	font-family: 'Marianne-Bold';
	position: absolute;
	display: block;
	border-radius: 15px;
	margin-top:2px;
	transform: translateX(-50%,0);
	left:50%;
	z-index: 0 !important;
  }


#input-thumb::after {
	content: "";
	background: var(--bleu-second);
	background: red;
	position: absolute;
	width: px;
	height: 2px;
	top: -2px;
	left: 50%;
}


/* -------------------------------------------------------------------------- */
/* 								 	CARDS						   	 		  */													
/* -------------------------------------------------------------------------- */

#results {
	margin-top: 10px;
}

.result-card {
	cursor: pointer;
	margin-bottom: 10px;
	background-color: white;
	transition: .09s;
	border-radius: 10px;
}

.result-card:hover, .hovered {
	transform: scale(1.01);
	box-shadow: 0 10px 10px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.1);
}


.nb-result-per-type {
	display: inline-block;
	width: 30% !important;
	padding: 2px 0 2px 0;
	border-radius:8px;
	color:white;
	margin-right:10px;
	font-size:1.05em;
	text-align:center;
}


.hovered {
	border:solid 1px red;
}

.card-header {
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	color:white;
	font-family: 'Marianne-Bold';
	vertical-align: center;
	font-size: 1.1em;
}

.card-header i {
	font-size: 1.55em;
	font-weight: bolder;
}

.distance {
	float: right;
	font-family: 'Marianne-Regular';
}

.card-body {
	padding-top: 10px;
	padding-bottom: 5px;
}

.card-body ul {
	padding-left: 5px;
	margin-bottom: 5px;
}

.card-body p {
	margin-bottom: 5px;
}

.card-body-commentaire {
	cursor:default
}

.collapse-text {
	justify-content: center;
	font-style: italic;
}

/* header card */
.fs-siege {
	background-color: var(--bleu-anct);
}

.fs-antenne {
	background-color: var(--bleu-second);
}

.fs-bus {
	background-color: var(--vert-anct);
}


.card-btn {
	font-size: var(--font-size-global);
	background-color:white;
	text-align: center;
	font-family: 'Marianne-Bold';
	color: var(--bleu-second);
	border-color: var(--bleu-second);
	border-radius: 15px;
	text-transform: uppercase;
}

.card-btn i {
	vertical-align: bottom;
}

.card-btn:hover, .card-btn:active, .card-btn:visited {
	font-family: 'Marianne-Bold' !important;
	background-color: var(--bleu-second) !important;
	border-color: var(--bleu-second)!important;
}

.card-btn:focus {
	outline:none;
	box-shadow: none;
}

.action {
	font-size: .95em;
}

.card-controls {
	float:right;
	margin-top: 15px;
	/* margin-bottom: 15px; */
}

.card-action-btn {
	padding:5px;
	border:none;
	color:#888;
	border-radius:20px;
}

.card-action-btn:hover {
	background-color: rgb(182, 182, 182);
}

.card-action-btn:focus {
	outline: none;
	box-shadow: none;
}

.card-btn-text:active {
	display: block;
}

.copied-tooltip {
	/* display: none; */
	position:absolute;
	margin-left:-85px;
	margin-top:-32px;
	padding: 5px 15px 5px 15px;
	background-color: rgba(92, 92, 92,.9) !important;
	color: white;
	border-radius: 3px;
}

.copied-tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(92, 92, 92,.9) transparent transparent transparent;
  }

/* -------------------------------------------------------------------------- */
/* 								 FICHE PDF						   	 		  */													
/* -------------------------------------------------------------------------- */

#fiche-pdf {
	line-height: 15pt;
	width: 210mm;
	height:297mm;
	font-family:'Marianne-Regular';
}

.header-pdf-logos {
	display:flex;
	justify-content: space-between;
	margin-top:5mm;
	margin-bottom:8mm;
	width: 90%
}

.logo-rf {
	width:28mm;
}

.logo-fs {
	height: 18.5mm;
	margin-top:7mm;
}

#map-pdf {
	height:80mm;
}


/* -------------------------------------------------------------------------- */
/* 								 SCROLL BAR						   	 		  */													
/* -------------------------------------------------------------------------- */


/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }