package.json
node_modules
package-lock.json
*.R
*.Rproj
*.csv
*.zip
*.ai
package.json
package-lock.json
/nodes_modules
/data_init
.Rproj.user
Thumbs.db
.gitignore
changelog.txt
ressources.txt
iframe.html